@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@theme {
    --color-primary: #163031;
    --color-accent: #F0FF6C;
    --color-accent-secondary: #6BFDD9;
    --color-secondary: #FFFFFF0A;
    --color-white: #FFFFFF;
    --color-divider: #FFFFFF0F;

    --font-primary: 'Montserrat', sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}


.swiper-pagination {
          position: relative;
          margin-top: 50px; /* Adjust as needed */
          background: transparent; /* Dark background like the image */
          padding: 5px 10px;
          border-radius: 10px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
        .swiper-pagination .custom-bullet {
          width: 20px;
          height: 20px;
          background: linear-gradient(90deg, #6BFDD9, #F0FF6C); /* Yellow-green gradient */
          border-radius: 50%;
          display: inline-block;
          margin: 0 5px;
          transition: all 0.3s ease;
        }
        .swiper-pagination .custom-bullet-active {
          width: 20px;
          height: 10px;
          background: linear-gradient(90deg, #6BFDD9, #F0FF6C); /* Green-yellow gradient */
          border-radius: 10px; /* Oval shape for active bullet */
        }
